@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body{
    background: linear-gradient(90deg, rgba(177,174,172,1) 0%, rgba(230,226,223,1) 34%, rgba(255,251,247,1) 50%);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .modal{
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border-radius: 5px;
    border: 2px solid white;
    z-index: 10;
    text-align: center;
    background: linear-gradient(90deg, rgba(66,25,46,0.9) 0%, rgba(137,41,69,0.89) 100%);;
    padding-top: 0;
  
  }

  .modal.active{
    transform: translate(-50%, -50%) scale(1);

  }

 
  .close-button{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 13px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.16rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 5px;
    background-color: #63243c;
  }
  

  .logo{
    position: absolute;
    width: 72px;
    height: 129px;
    left: 114px;
    top: 48px;
    
  }


  p{
    position: absolute;
    width: 583px;
    height: 40px;
    left: 117px;
    top: 207px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 98.69%;   
    letter-spacing: -0.04em;
    color: #9A1032;
  }

  h1{
    position: absolute;
    width: 462px;
    height: 303px;
    left: 117px;
    top: 267px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 98.69%;
    letter-spacing: -0.04em;
    color: #9A1032;
    mix-blend-mode: normal;
  }

  h3{
    position: absolute;
    width: 443px;
    height: 78px;
    left: 114px;
    top: 566px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 98.69%;
    letter-spacing: -0.04em;
    color: #9A1032;
    
  }

  span{
    color: goldenrod;
  }
  
  .inner_container{
    width: 225px;
    height: 300px;
    /* box-shadow: 0px 0px 36px -22px #2B2D42; */
    display: inline-block;
    margin-bottom: 33px;
    margin: 3% 3%;
  }

  
  .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 100;
  
  }

  .sombra{
    width: 225px;
    height: 300px;
    position: absolute;
    z-index: 0;
    
  }


  
  #button_container{
    width: 50%;
    height: 50px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;  
  } 
  
 .open{
    width: 50%;
    height: 90%;
    font-size: 20px;
    font-family: 'Inter';
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #63243c;
  }
  
  .open:hover{
    transition: 0.05s;
    background-color: #8B304F;
    transform: rotateZ(-5deg);
    box-shadow: 0 0 30px -5px #8B304F;
  }
  
  .open:active{
    transform: translateY(20px);
    transform: rotateZ(10deg);
  
  }

  i{
    font-size: 80%;
  }
  

/* iframe{
  width: 100%;
  position: relative;
}*/

  iframe{
    position: absolute;
    width: 60%;
    height: calc(100vh - 30px);
    right: 0px;
    top: 0px; 
}  

  #retangle{
  position:absolute;
  width: 170px;
  height: 45px;
  right: 0;
  top: 89%;
  background-color: #fffbf7;
}

  .first_container{
  width: 100vw;
  height: 100vh;
  display: inline-block;
  border-radius: 5px;
} 


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}